@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Scope+One&display=swap");
/*****************
basic styles
*****************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: #ababab;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Scope One", serif;
}

section {
  width: 80%;
  padding: 100px 0;
  margin: auto;
}

.container {
  width: 80%;
  padding: 100px 0;
  margin: auto;
}

.btn {
  padding: 13px 25px;
  font-size: 1.2rem;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), center/cover no-repeat url(img/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), center/cover no-repeat url(img/header.jpg);
  height: 70vh;
}
header .container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ababab;
}
header .container h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
header .container p {
  text-align: center;
  width: 50%;
  margin: 40px;
  margin-top: 5px;
  font-size: 1.2rem;
}
header .container button {
  padding: 13px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

main {
  background: #fff;
  padding: 0;
}
main section:nth-child(1) {
  background-color: #3498db;
}
main section:nth-child(1) article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}
main section:nth-child(1) article .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29%;
          flex: 0 0 29%;
  padding: 10px;
}
main section:nth-child(1) article .img img {
  border-radius: 50%;
}
main section:nth-child(1) article .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69%;
          flex: 0 0 69%;
  padding: 10px;
}
main section:nth-child(1) article .text h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
main section:nth-child(1) article .text p {
  margin: 20px 0;
}
main section:nth-child(1) article .text button {
  margin: 30px 0;
}
main section:nth-child(1):nth-child(2) {
  color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
main section:nth-child(1):nth-child(2) button {
  background-color: #fff;
  color: #3498db;
}
main section:nth-child(2) .text {
  text-align: center;
}
main section:nth-child(2) .text h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
main section:nth-child(2) .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main section:nth-child(2) .articles article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  background-color: #fff;
  padding: 10px 30px;
}
main section:nth-child(2) .articles article img {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */