@import "globals.scss";

/*****************
header
*****************/
header {
    background:
        linear-gradient(rgba($tertiary, 0.7), rgba($tertiary, 0.7)),
        center/cover no-repeat url(img/header.jpg);
    height: 70vh;
    .container {
        height: 70vh;
        @include flex($justufy: flex-start);
        flex-direction: column;
        justify-content: center;
        color: $primary;
        h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }
        p {
            text-align: center;
            width: 50%;
            margin: 40px;
            margin-top: 5px;
            font-size: 1.2rem;
        }
        button {
            padding: 13px 25px;
            font-size: 1.2rem;
            border: none;
            border-radius: 5px;
        }
    }
}

/*****************
main
*****************/
main {
    background: $white;
    padding: 0;
    section {
        &:nth-child(1) {
            background-color: $white;
            @include container2And3;
        }
        &:nth-child(2) {
            background-color: $secondary;
            color: $white;
            @include container2And3(row-reverse, $secondary, $white);
        }
        &:nth-child(3) {
            .container {
                padding: 50px 0;
                @include responsive(tablet){
                    padding: 25px 0;
                }
                @include responsive(phone){
                    padding: 12.5px 0;
                }
                .text {
                    text-align: center;
                    margin: 20px auto;
                    @include responsive(tablet){
                        margin: 10px auto;
                    }
                    @include responsive(phone){
                        margin: 5px auto;
                    }
                    h2 {
                        font-size: 2.5rem;
                        font-weight: 700;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
                .articles {
                    @include flex;
                    @include responsive(tablet){
                        justify-content: center;
                    }
                    article {
                        flex: 0 0 33%;
                        background-color: $white;
                        padding: 20px 40px;
                        text-align: center;
                        @include responsive(tablet){
                            flex: 0 0 49%;
                            padding: 20px;
                        }
                        @include responsive(phone){
                            flex: 0 0 100%;
                            padding: 20px;
                        }
                        img {
                            border-radius: 50%;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 0.9rem;
                            margin-bottom: 20px;
                        }
                        button {
                            margin-bottom: 20px;
                        }
                        @include button;
                    }
                    article::after{
                        @include responsive(phone){
                            content: '';
                            display: block;
                            height: 5px;
                            background-color: $secondary;
                            width: 300px;
                            margin: 1rem auto;
                        }
                    }
                }
            }
        }
    }
}

/*****************
footer
*****************/
footer {
    text-align: center;
    margin: 50px auto;
    .social {
        line-height: normal;
        font-size: 1.4rem;
        @include flex($justufy: center);
        div {
            width: 50px;
            height: 50px;
            margin: 20px;
            padding: calc((50px - $iconSize) / 2);
            border-radius: 50%;
            border: 1px solid $primary;
            i{
                width: $iconSize;
                height: $iconSize;
            }
        }
    }
    p {
        font-size: 0.9rem;
        padding-bottom: 50px;
        span {
            color: $secondary;
        }
    }
}
