@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $lightTransFull;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $medium;
}

header,
footer {
    background-color: $dark;
}

h2,
h3,
h4 {
    color: $dark;
    font-weight: 700;
    border: 1px dashed red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: $transition;
}

.container {
    max-width: 80%;
    margin: auto;
    @include responsive(tablet) {
        max-width: 90%;
    }
    @include responsive(phone) {
        max-width: 100%;
    }
}

// HEADER
.header {
    @include flex;
    // logo
    .logo {
        a {
            h1 {
                text-transform: uppercase;
                font-style: italic;
                color: $lightTransHalf;
                transition: $transition;
                &:hover{
                    scale: 1.1;
                    color: $light;
                }
            }
        }
    }
    // navbar
    .navbar {
        nav {
            ul {
                @include flex;
                width: 300px;
                padding-left: 20px;
                text-transform: uppercase;
                li {
                    font-weight: 500;
                    transition: $transition;
                    &:hover {
                        scale: 1.2;
                    }
                    a {
                        color: $lightTransHalf;
                        &:hover {
                            color: $light;
                        }
                    }
                }
            }
        }
    }
}

//MAIN


// FOOTER
.footer {
    color: $light;
    text-align: center;
    height: 50px;
}
