*{
    padding: 0;
    margin: 0;
}



/* Najjaci specificity ima id, pa clasa, pa obican tag kao selektor */

html{
    font-size: 2rem;
}

.spoljasnjiDiv{
    background-color: antiquewhite;
    border: 3px solid red;
    /* width: 50%;
    height: 100vh; */
}

.unutrasnjiDiv{
    background-color: aqua;
    border: 3px solid blue;
    /* width: 50%;
    height: 50%; */
}

p{
    font-size: 2rem;
}


