@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --tamnoPlava: rgb(29, 82, 124);
    --svetloPlava: #459ad3;
    --orange: rgb(253, 127, 69);
    --tamnoSiva: #3c3b3c;
    --svetloSiva: lightgray;
    --bela: #fff;
    --crna: #000;

    --transition: .3s;
    --padding: 100px 0;

}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3rem;
    font-weight: 300;
}

h2{
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--tamnoPlava);
    font-weight: 500;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
}

.dugme{
    margin-top: 1rem;
    text-transform: uppercase;
    background: var(--tamnoPlava);
    border: 1px solid var(--tamnoPlava);
    padding: 1rem 3rem; 
    font-size: 16px;
    color: var(--bela);
    cursor: pointer;
    transition: var(--transition);
}

.dugme:hover{
    background-color: var(--orange);
    border-color: var(--bela);
}

/**********************
Header
**********************/
header{
    background: linear-gradient(to right, rgb(253, 127, 69), rgb(29, 82, 124));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

}

header a{
    text-transform: uppercase;
    color: var(--bela);
    font-weight: 500;
    transition: var(--transition);
}

header .logo a{
    font-size: 30px;
    font-style: italic;
}

header .logo a:hover{
    color: var(--tamnoPlava);
}

header nav ul{
    display: flex;
}

header nav ul li a{
    margin-left: 20px;
}

header nav ul li a:hover{
    color: var(--svetloSiva);
}

/**********************
Hero
**********************/
.hero{
    background: linear-gradient(to left, rgbа(253, 127, 69, 0.8), rgbа(29, 82, 124, 0.8)), url(img/baloon.jpg);background: linear-gradient(to top, rgba(253, 127, 69, 0.8), rgba(29, 81, 124, 0.8)), url(img/baloon.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 span{
    font-style: italic;
    font-weight: 200;
}

.hero p {
    color: var(--bela);
    font-size: 1.2rem;
    margin: 1.3rem 0;
}

.hero button{
    background: transparent;
    border: 1px solid var(--bela);
}

.hero button:hover{
    background-color: var(--bela);
    color: var(--crna);
    border-color: var(--bela);
}

/**********************
About
**********************/

.about{
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
}

.about .about-text {
    /* flex-basis: 40%; */
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about .about-text hr{
    width: 20%;
    margin: 15px 0;
    height: 5px;
    border: none;
    background-color: var(--tamnoPlava);
}

/* .about .about-text button{
    margin-top: 1rem;
    text-transform: uppercase;
    background: var(--tamnoPlava);
    border: 1px solid var(--tamnoPlava);
    padding: 1rem 3rem;
    font-size: 16px;
    color: var(--bela);
    cursor: pointer;
    transition: var(--transition);
} */

.about .about-slika{
    width: 48%;
}

/**********************
Services
**********************/

.services{
    background: linear-gradient(to top, rgba(29, 81, 124, 0.8), rgba(29, 81, 124, 0.8)), url(img/about.jpg);
    

}

.services .container{
    display: flex;
    color: var(--bela);
}

.services .container .services-ikonice{
    flex-basis: 48%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.services .container .services-ikonice i{
    color: var(--orange);
    font-size: 50px;
    width: 50%;
}


.services .container .services-tekst{
    flex-basis: 48%;
    
}

