@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

h1 {
  font-size: 50px;
  color: #fff;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  background-color: #000000;
  color: #fff;
}
header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .logo img {
  width: 80px;
}
header .logo a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
header .logo a:hover {
  color: #d3d3d3;
}
header .workingHours {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
}
header .callToAction {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
header .callToAction button {
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: transparent;
  color: #fff;
}
header .callToAction button:hover {
  background-color: #fff;
  color: #000000;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/header.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}
.hero .hero-text {
  width: 60%;
  color: #fff;
}
.hero .hero-text p {
  margin: 1rem 0;
}
.hero .hero-text div button:first-child {
  padding: 1rem 2rem;
  border: 2px solid #506df5;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #506df5;
  color: #fff;
  margin-right: 1rem;
}
.hero .hero-text div button:first-child:hover {
  background-color: transparent;
  color: #506df5;
}
.hero .hero-text div button:last-child {
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: transparent;
  color: #fff;
}
.hero .hero-text div button:last-child:hover {
  background-color: #fff;
  color: #000000;
}

.prices {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prices article {
  background-color: #fff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border: 1px solid #313131;
  padding: 3rem;
  text-align: center;
}
.prices article h3 {
  font-size: 2rem;
  font-weight: normal;
}
.prices article p {
  margin: 0.5rem 0;
}
.prices article p span:nth-child(1) {
  font-size: 1.5rem;
}
.prices article p span:nth-child(2) {
  font-size: 2.5rem;
}
.prices article p span:nth-child(3) {
  font-size: 0.9rem;
}
.prices article p:last-of-type {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.prices article button {
  padding: 1rem 2rem;
  border: 2px solid #506df5;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #fff;
  color: #506df5;
}
.prices article button:hover {
  background-color: #506df5;
  color: #fff;
}
.prices article button:hover {
  translate: 20px;
}
.prices article:hover {
  scale: 1.1;
}

.advantages {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/bg2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/bg2.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
}
.advantages h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
}
.advantages h2::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #fde21c;
  width: 150px;
  margin: 1rem auto 3rem;
}
.advantages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.advantages .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  border: 2px solid lightgray;
  border-radius: 25px;
  overflow: hidden;
}
.advantages .container article .image {
  overflow: hidden;
}
.advantages .container article .image img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.advantages .container article .image img:hover {
  scale: 1.2;
}
.advantages .container article .text {
  background-color: #fff;
  padding: 0.5rem;
}
.advantages .container article .text p {
  margin: 1 rem 0;
  font-size: 0.8rem;
}
.advantages .container article .text button {
  padding: 1rem 2rem;
  border: 2px solid #506df5;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #fff;
  color: #506df5;
}
.advantages .container article .text button:hover {
  background-color: #506df5;
  color: #fff;
}
.advantages .container article:nth-child(2) button {
  padding: 1rem 2rem;
  border: 2px solid #506df5;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #fde21c;
  color: #506df5;
}
.advantages .container article:nth-child(2) button:hover {
  background-color: #506df5;
  color: #fff;
}
.advantages .container article:nth-child(3) button {
  padding: 1rem 2rem;
  border: 2px solid crimson;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: crimson;
  color: #fff;
}
.advantages .container article:nth-child(3) button:hover {
  background-color: #506df5;
  color: #fff;
}

.team {
  padding: 4rem 0;
}
.team h2 {
  text-align: center;
}
.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.team .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
  -webkit-box-shadow: 16px 8px 22px 6px rgba(222, 175, 175, 0.75);
          box-shadow: 16px 8px 22px 6px rgba(222, 175, 175, 0.75);
}
.team .container article .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.team .container article .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 1rem;
}
.team .container article .text p:last-of-type {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.team .container article .text button {
  padding: 1rem 2rem;
  border: 2px solid crimson;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: crimson;
  color: #fff;
}
.team .container article .text button:hover {
  background-color: #506df5;
  color: #fff;
}

.repair {
  padding: 4rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/bg2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/bg2.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.repair .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.repair .container article:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  text-align: center;
  border: 1px solid #fff;
  padding: 50px;
}
.repair .container article:first-child i {
  font-size: 5rem;
  color: #fde21c;
}
.repair .container article:first-child h3 {
  margin: 1rem 0;
}
.repair .container article:first-child button {
  padding: 1rem 2rem;
  border: 2px solid #506df5;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #fff;
  color: #506df5;
}
.repair .container article:first-child button:hover {
  background-color: #506df5;
  color: #fff;
}
.repair .container article:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}/*# sourceMappingURL=style.css.map */