// fonts
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&family=Playpen+Sans:wght@100;300;400;500;700&display=swap');
$fontFamily: 'Playpen Sans', cursive;
$fontSize: 16px;
$fontWeight: 300;

// colors
$black: #000;
$white: #FFF;
$dark: rgb(10, 60, 40, 1);
$darkTrasHalf: rgb(10, 60, 40, 0.75);
$darkTransFull: rgb(10, 60, 40, 0.5);
$medium: rgb(20, 120, 80, 1);
$mediumTransHalf: rgb(20, 120, 80, 0.75);
$mediumTransFull: rgb(20, 120, 80, 0.5);
$light: rgba(40, 240, 160, 1);
$lightTransHalf: rgba(40, 240, 160, 0.75);
$lightTransFull: rgba(40, 240, 160, 0.5);


$transition: .3s linear;
