@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&family=Playpen+Sans:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(40, 240, 160, 0.5);
  font-family: "Playpen Sans", cursive;
  font-size: 16px;
  font-weight: 300;
  color: rgb(20, 120, 80);
}

header,
footer {
  background-color: rgb(10, 60, 40);
}

h2,
h3,
h4 {
  color: rgb(10, 60, 40);
  font-weight: 700;
  border: 1px dashed red;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.container {
  max-width: 80%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo a h1 {
  text-transform: uppercase;
  font-style: italic;
  color: rgba(40, 240, 160, 0.75);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .logo a h1:hover {
  scale: 1.1;
  color: rgb(40, 240, 160);
}
.header .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  padding-left: 20px;
  text-transform: uppercase;
}
.header .navbar nav ul li {
  font-weight: 500;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .navbar nav ul li:hover {
  scale: 1.2;
}
.header .navbar nav ul li a {
  color: rgba(40, 240, 160, 0.75);
}
.header .navbar nav ul li a:hover {
  color: rgb(40, 240, 160);
}

.footer {
  color: rgb(40, 240, 160);
  text-align: center;
  height: 50px;
}

/***************************************************/
/***************************************************/
.hero .main section h2 {
  text-transform: uppercase;
  padding: 20px 20px 20px 0;
  color: rgb(10, 60, 40);
  text-align: center;
}
.hero .main section .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.hero .main section .articles article {
  padding-bottom: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}
.hero .main section .articles article .dropdown {
  position: relative;
}
.hero .main section .articles article .dropdown a figure {
  padding: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .main section .articles article .dropdown a figure figcaption {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.hero .main section .articles article .dropdown a figure figcaption h3 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(10, 60, 40);
}
.hero .main section .articles article .dropdown a figure img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: auto;
}
.hero .main section .articles article .dropdown a figure:hover {
  scale: 1.1;
}
.hero .main section .articles article .dropdown .groceries {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0 10px;
  width: 100%;
}
.hero .main section .articles article .dropdown .groceries h4 {
  display: block;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.hero .main section .articles article .dropdown .groceries h4 a {
  color: rgb(20, 120, 80);
}
.hero .main section .articles article .dropdown .groceries h4 a:hover {
  color: rgb(10, 60, 40);
}
.hero .main section .articles article .dropdown .groceries h4:hover {
  scale: 1.1;
}
.hero .main section .articles article .dropdown:hover a figure img {
  display: none;
}
.hero .main section .articles article .dropdown:hover .groceries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .main section .articles article .dropdown:hover .groceries h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: center;
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************//*# sourceMappingURL=style.css.map */