@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Scope+One&display=swap');

$headings: 'Scope One', serif;
$bodyFont: 'Roboto', sans-serif;
$fontSize: 16px;
$white: #fff;
$primary: #ababab;
$lightgray: #fafafa;
$secondary: #3498db;
$tertiary: #000;
$border: #ececec;
$transition: .3s linear;
$iconSize: 22.4px;
