// Iz dizajna sam video da je u pitanju font eebo, te sam ga linkovao na Google fonts
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap');

$fontFamily: 'Heebo', sans-serif;

// boje kupim iz dizajna
$text: #21243D;
$white: #FFF;
$accents: #FF6464;
$bg: #EDF7FA;
$gray: #8695A4;

$fontSize: 16px;
$transition: .3s linear;