@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;600&family=IBM+Plex+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  margin: 10px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  width: 200px;
  margin: 15px auto;
}

.container {
  max-width: 1140px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 96%;
  }
}

.dugme, .blog .container article button, .dishes-articles article button {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dugme:hover, .blog .container article button:hover, .dishes-articles article button:hover {
  background-color: crimson;
}

/***************************
 Hero 
***************************/
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/banner.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner.jpg);
  background-size: cover;
  background-position: center;
}
.hero .container {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.hero .container nav {
  position: absolute;
  top: 0;
  width: 100%;
}
.hero .container nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .hero .container nav div {
    padding: 0 20px;
  }
}
@media screen and (max-width: 576px) {
  .hero .container nav div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
}
.hero .container nav div .logo {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero .container nav div .logo:hover {
  opacity: 0.5;
}
.hero .container nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .container nav div ul li {
  padding: 2rem 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero .container nav div ul li:hover {
  opacity: 0.5;
}
@media screen and (max-width: 576px) {
  .hero .container nav div ul li {
    padding: 1rem;
  }
}
.hero .container p {
  color: #fff;
  width: 75%;
  text-align: center;
  margin-top: 1.5rem;
}
@media screen and (max-width: 576px) {
  .hero .container p {
    width: 100%;
  }
}

/***************************
 Social Icons
***************************/
.socialIcons {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 50px;
  position: fixed;
  top: calc(50% - 75px);
}
.socialIcons i {
  font-size: 1.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.socialIcons i:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .socialIcons {
    display: none;
  }
}

/***************************
 Dishes 
***************************/
.dishes {
  padding: 80px 0;
  text-align: center;
}
.dishes-articles {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dishes-articles article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  background-color: rgb(215, 237, 245);
  padding: 10px;
}
@media screen and (max-width: 576px) {
  .dishes-articles article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
/***************************
 Gallery
***************************/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery img {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .gallery img {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .gallery img {
    width: 100%;
  }
}
.gallery .manjaSlika {
  width: 16.66%;
}
@media screen and (max-width: 768px) {
  .gallery .manjaSlika {
    width: 33.3333%;
  }
}
@media screen and (max-width: 576px) {
  .gallery .manjaSlika {
    width: 50%;
  }
}

/***************************
 About
***************************/
.about {
  padding: 80px 0;
  text-align: center;
}
.about > p {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .about > p {
    width: 80%;
  }
}
.about article {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .about article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about article .about-slika {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.about article .about-text {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: left;
  padding-left: 20px;
}
.about article .about-text h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.about article .about-text p {
  margin: 15px 0;
}

/***************************
 Numbers
***************************/
.numbers {
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/numbers.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/numbers.jpg);
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}
.numbers .container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.numbers .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
@media screen and (max-width: 576px) {
  .numbers .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-bottom: 20px;
  }
}
.numbers .container article span {
  font-size: 60px;
  font-weight: 600;
}
.numbers .container article p {
  font-size: 25px;
}

/***************************
 Menu
***************************/
.menu {
  padding: 80px 0;
  text-align: center;
}
.menu-text {
  padding: 0 40px;
}
.menu .container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .menu .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}
@media screen and (max-width: 576px) {
  .menu .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.menu .container article h3 {
  font-size: 30px;
  text-transform: capitalize;
}

/***************************
 Testimonials
***************************/
.testimonials {
  padding: 80px 0;
}
.testimonials h2 {
  text-align: center;
}
.testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .testimonials .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .testimonials .container article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.testimonials .container article .slika {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.testimonials .container article .slika img {
  border-radius: 50%;
}
.testimonials .container article .tekst {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  padding-left: 10px;
}
.testimonials .container article .tekst h5 {
  text-transform: capitalize;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .testimonials .container article:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (max-width: 576px) {
  .testimonials .container article:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/***************************
 Blog
***************************/
.blog {
  padding: 80px 0;
  background-color: bisque;
  text-align: center;
}
.blog .container {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  border: 1px solid #000;
}
@media screen and (max-width: 576px) {
  .blog .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
.blog .container article .blog-slika {
  position: relative;
}
.blog .container article .blog-slika span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: crimson;
  padding: 10px 20px;
  color: #fff;
  margin: 10px;
}
.blog .container article h3 {
  text-transform: capitalize;
}
.blog .container article p {
  padding: 0 10px;
}
.blog .container article button {
  margin-bottom: 20px;
}

/***************************
 Footer
***************************/
footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}
@media screen and (max-width: 768px) {
  footer .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  footer .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
footer .container article i {
  font-size: 25px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */